
@model EIMS1A.Models.EmpInfo
@using System.Collections.Generic;
@using System.Data.SqlClient;
@using System.Configuration;
@using System.Web.Mvc;
@using EIMS1A.Admindb;
@using EIMS1A.Models;
@using EIMS1A.Controllers;
@{
    ViewBag.Title = "EmpInfo";
}

<h2>EmpInfo</h2>


@{
    ViewBag.Title = "BillEntry";
    //Layout = "~/Views/Layouts/StaffLayout.cshtml";
}

<style>
    @@media print {
        * {
            -webkit-print-color-adjust: exact;
        }

        .no-print, .no-print * {
            display: none !important;
        }

        .print {
            position: fixed;
            overflow: auto;
            z-index: 100000; /* CSS doesn't support infinity */
            /* Any other Print Properties */
        }

        @@page {
        }

        .panel-heading {
            display: none;
        }

        .header {
            display: none;
        }

        .panel-body {
            display: none;
        }

        .footer {
            display: none;
        }

        .middle {
            display: inline;
        }
    }
</style>
<script type="text/javascript">

    $(function () {
        $("#Print,#save").click(function () {

            var today = new Date();

            var msg1 = $("#BillNumber").val();
            $('#msg1').html(msg1);

            var arr = $("#BillDate").val();
            var msg2 = arr.split(" ");
            $('#msg2').html(msg2[0]);

            var msg3 = $("#PId").val();
            $('#msg3').html(msg3);

            var msg4 = $("#PatientName").val();
            $('#msg4').html(msg4);

            var msg20 = $("#PatientName").val();
            $('#msg20').html(msg20);

            var msg5 = $("#charge1").val();
            $('#msg5').html(msg5);

            var msg6 = $("#charge2").val();
            $('#msg6').html(msg6);

            var msg7 = $("#charge3").val();
            $('#msg7').html(msg7);

            var msg8 = $("#charge4").val();
            $('#msg8').html(msg8);

            var msg9 = $("#charge5").val();
            $('#msg9').html(msg9);

            var msg10 = $("#charge6").val();
            $('#msg10').html(msg10);


            var msg11 = $("#charge7").val();
            $('#msg11').html(msg11);


            var msg12 = $("#sum").val();
            $('#msg12').html(msg12);


            var msg13 = $("#PaymentMode").val();
            $('#msg13').html(msg13);


            var msg14 = $("#TId").val();
            $('#msg14').html(msg14);

            var mywindow = window.open('', 'CV', 'height=400,width=600');


            mywindow.document.write($("#head1").html());

            mywindow.document.write($("#middle1").html());
            mywindow.document.write($("#foot1").html());

            mywindow.document.close(); // necessary for IE >= 10
            mywindow.focus(); // necessary for IE >= 10

            mywindow.print();
            mywindow.close();

        });
    });




</script>

<script src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
<script src="//cdn.jsdelivr.net/webshim/1.14.5/polyfiller.js"></script>

<script>
    webshims.setOptions('forms-ext', { types: 'date' });
    webshims.polyfill('forms forms-ext');

</script>



<script type="text/javascript">
    $(function () {
        $("#PId").change(function () {
            if ($("#PId").val() > 0) {
                var quantity = $("#PId").val();

                $.ajax(
                    {
                        type: "GET",

                        data: { patientname: $("#PId").val() },
                        url: '@Url.Action("EmpEdit", "Home")',

                        cache: false,
                        success: function (result) {
                            $("#PatientName").val(result);
                        },
                        error: function (xhr, status, error) {
                            alert("");
                        }
                    });

            }

        });
    });

    //

    $(function () {
        $("#PaymentMode").change(function () {
            var paymnet = $("#PaymentMode").val()
            if (paymnet == "Cashless") {
                $('#TId').val(null);
                $('#TId').prop('disabled', false);
            }
            else {
                $('#TId').val(null);
                $('#TId').prop('disabled', true);
            }
        });
    });


    //this calculates values automatically

    $(document).ready(function () {

        sum();
        $("#charge1, #charge2, #charge3, #charge4, #charge5, #charge6, #charge7").on("keydown keyup", function () {
            sum();
        });
    });

    function sum() {

        var charge1 = document.getElementById('charge1').value;
        var charge2 = document.getElementById('charge2').value;
        var charge3 = document.getElementById('charge3').value;
        var charge4 = document.getElementById('charge4').value;
        var charge5 = document.getElementById('charge5').value;
        var charge6 = document.getElementById('charge6').value;
        var charge7 = document.getElementById('charge7').value;


        var result = parseInt(charge1) + parseInt(charge2) + parseInt(charge3) + parseInt(charge4) + parseInt(charge5) +

parseInt(charge6) + parseInt(charge7);

        if (!isNaN(result)) {
            document.getElementById('sum').value = result;

        }
    }

    //
    onload = function () {

        var paymnet = $("#PaymentMode").val()
        if (paymnet == "Cashless") {
            $('#TId').val(null);
            $('#TId').prop('disabled', false);
        }
        else {
            $('#TId').val(null);
            $('#TId').prop('disabled', true);
        }

    }
    //Edit

    $(function () {
        $("#Edit").click(function () {
            // var id = $("#SearchBill").val();
            if ($("#SearchBill").val() != "") {
                $.ajax(
                    {
                        type: "GET",
                        data: { BId: $("#SearchBill").val() },
                        url: '@Url.Action("EmpEdit", "Home")',
                        cache: false,
                        success: function (result) {
                            var res = result;
                            if (res != "" && res != null) {
                                var arr = res.split(",");
                                alert("Edit now")
                                $("#BillNumber").val(arr[0]);
                                $("#BillDate").val(arr[1]);
                                $("#PId").val(arr[2]);
                                $("#PatientName").val(arr[3]);
                                $("#charge1").val(arr[4]);
                                $("#charge2").val(arr[5]);
                                $("#charge3").val(arr[6]);
                                $("#charge4").val(arr[7]);
                                $("#charge5").val(arr[8]);
                                $("#charge6").val(arr[9]);
                                $("#charge7").val(arr[10]);
                                $("#sum").val(arr[11]);
                                $("#PaymentMode").val(arr[12]);


                                if (arr[12] == "Cashless") {
                                    $('#TId').prop('disabled', false);
                                    $("#TId").val(arr[13]);
                                }
                                else {
                                    $("#TId").val(null);
                                    $('#TId').prop('disabled', true);
                                }

                                $("#save").val("Modify");
                            }
                            else {
                                alert("Sorry No data found");
                            }

                        },
                        error: function (xhr, status, error) {
                            alert("Sorry No data found");
                        }
                    });
            }
            else {
                alert("Please enter Bill number");
            }

        });
    });

    //


</script>









<div class="middle" id="middle1" style="display:none; text-align : left;">

    <table width="80%" style="font-family:Arial Black;font-size:9px;">

        <tr>
            <td style="width:80px"></td>
            <td> Bill No :<label style="text-align:right" id="msg1"></label></td>
            <td style="width:80px"></td>
            <td style="width:80px"></td>
        </tr>
        <tr>
            <td style="width:80px"></td>
            <td> Patient Name : <label style="text-align:left" id="msg4"></label> </td>
            <td>Reg Id : <label style="text-align:left" id="msg3"></label></td>
            <td>Date : <label style="text-align:right" id="msg2"></label></td>
        </tr>

    </table>

    <table width="80%" border="2" cellspacing="0.2" cellpadding="0.2" align="center" style="font-family:'Arial Black';font-size:8px;border:2px">
        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>SL.No</b></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Particulars</b></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Amount(Rs)</b></td>
        </tr>

        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Registration Charge </td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label id="msg5"></label>.00 </td>
        </tr>

        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Consultaion Charge </td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label id="msg6"></label>.00 </td>
        </tr>

        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dressing Charge  </td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label id="msg7"></label>.00 </td>
        </tr>

        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Plastering Charge
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label id="msg8"></label>.00 </td>
        </tr>

        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Injection Charge
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label id="msg9"></label>.00 </td>
        </tr>

        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6.</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X-Ray Charge </td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label id="msg10"></label>.00 </td>
        </tr>

        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7.</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Other Charge  </td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label id="msg11"></label>.00 </td>
        </tr>

        <tr>
            <td></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b> Total </b> </td>
            <b>  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label id="msg12"></label>.00 </td> </b>
        </tr>


    </table>
    <font size='1px' ,face='Arial Black'>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Recieved with thanks from Mr/Mrs : <label style="text-align:left" id="msg20"></label></b>
    </font>
    <table width="100%" style="font-family:Arial Black;font-size:9px">

        <tr>
            <td style="width:80px"></td>
            <td> Payment Mode : <label style="text-align:left" id="msg13"></label> </td>
            <td style="width: 80px"></td>

        </tr>
        <tr>
            <td style="width:80px"></td>
            <td> Transaction Id :<label style="text-align:left" id="msg14"></label></td>
            <td style="height: 20px"></td>
            <b><td> Signature<label style="text-align:right"></label></td></b>
        </tr>
    </table>

</div>

<div class="footer" id="foot1" style="display: none">
    <font font='Arial Black' size='1px'>
        <center>
            --------------- <b>Helping Bones and Joints Work Better</b> ---------------<br />
        </center>
    </font>
</div>



<div class="col-lg-8">
    <div class="panel panel-skin" style="width: 600px">
        <div class="panel-heading">
            <div class="row">

                <h1 class="panel-title">
                    <b>
                        <font size="4px">
                            <span class="fa fa-pencil-square-o"></span> Bill Entry

                            Form
                        </font>
                    </b><font color="#484D25">.................................</font>
                    @Html.TextBoxFor(model => model.emp_id, new { id = "SearchBill", Value = "", @style ="width:150px;color:black", @placeholder = "Search Bill number" })
                    <font color="Black">
                        <button type="button" style="width: 60px; height: 28px;" align="right" title="Edit Bill" id="Edit">Edit</button>

                        <button type="button" style="width: 60px; height: 28px;" align="right" title="Print Bill" class="btn-primary"
                                id="Print">
                            Print
                        </button>
                    </font>
                </h1>

            </div>
        </div>
        <div class="panel-body">


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true)
                <!--            <form action="" method="post" role="form" class="contactForm lead" style="align-content: center"> -->

                <form role="form" class="contactForm lead" style=align-content: "center">
                    <div class="row">

                        @Html.ValidationSummary(true)
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">

                                <label>Emp Ref No</label>
                                <b>
                                    @Html.TextBoxFor(a=>a.emp_name, new { id = "BillNumber", @class = "form-control",style = "width:200px" })

                            </b>
                            <div class="validation"></div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <label>Emp Name</label>
                           
                            <b>
                                @Html.TextBoxFor(model => model.emp_id, new { @id = "BillDate", @class = "form-control", @style= "width:200px" })
                        </b>
                        <!--   <input type="date" name="event_date" required /> -->

                    </div>
                </div>


            </div>

            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                        <label>Emp id <font color="red">*</font>:</label>
                       <b> @Html.TextBoxFor(model => model.division, new { @id = "PId", @class = "form-control", @style = "width:200px"})</b>
                        <b>
                            <!-- Html.DropDownListFor(model => model.PId, ViewBag.PatientID as IEnumerable<SelectListItem>,"Select ID", new { id = "PId", class = "form-control", style = "width:200px;color:black" }) -->
                    </b>
                    <b><font color="red">     @Html.ValidationMessageFor(model => model.division)</font></b>
                    <div class="validation"></div>
                </div>
            </div>



            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                        <label>Division</label>
                        <b>
                            @Html.TextBoxFor(model => model.status_to_date, new { @id = "PatientName",  @class = "form-control", @style = "width:200px;color:black" })

                    </b>
                    <div class="validation"></div>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="form-group">
                <label>Status</label>
                <b>
                    @Html.TextBoxFor(model => model.designation, new { @id = "charge1", @class = "form-control", style = "width:200px" })

            </b>
            <div class="validation"></div>
        </div>
    </div>




    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="form-group">
                <label>Designation</label>
                <b>
                    @Html.TextBoxFor(model => model.dept_name, new { @id = "charge2", @class = "form-control", style = "width:200px" })

            </b>
            <div class="validation"></div>
        </div>
    </div>
</div>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="form-group">
            <label>Dept</label>
            <b>
                @Html.TextBoxFor(model => model.category, new { @id = "charge3", @class = "form-control",style = "width:200px" })
        </b>
        <div class="validation"></div>
    </div>
</div>


<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="form-group">
            <label>category</label>
            <b>
                @Html.TextBoxFor(model => model.date_of_birth, new { @id = "charge4", @class = "form-control", style = "width:200px" }) </b>

    </div>
</div>
</div>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="form-group">
            <label>DOB</label>
            <b>
                @Html.TextBoxFor(model => model.date_of_joining, new { @id = "charge5", @class = "form-control",style = "width:200px" })
        </b>
        <div class="validation"></div>
    </div>
</div>

<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="form-group">
            <label>dor</label>
            <b>
                @Html.TextBoxFor(model => model.status_to_date, new { @id = "charge6", @class = "form-control",style = "width:200px" })
        </b>
        <div class="validation"></div>
    </div>
</div>
</div>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="form-group">
            <label>date of initial appointment</label>
            <b>
                @Html.TextBoxFor(model => model.currentPay, new { @id = "charge7", @class = "form-control", style= "width:200px" })
        </b>
        <div class="validation"></div>
    </div>
</div>


<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="form-group">
            <label>date of Current appointmentl</label>
            <b>
                @Html.TextBoxFor(model => model.date_of_next_increment, new { @id = "sum", @class = "form-control",@style = "width:200px"})
        </b>
        <b><font color="red">     @Html.ValidationMessageFor(model => model.date_of_next_increment)</font></b>
        <div class="validation"></div>
    </div>
</div>
</div>
</div>
<div class="row">
   
    <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="form-group">
            <label>Current Pay Scale</label>
            <b>
                @*@Html.TextBoxFor(model => model.personal_pay_allowance, new { @id = "TId", @class = "form-control",@style = "width:200px" })*@
                @Html.TextBoxFor(model=>model.currentPay,new{ @id = "TId", @class = "form-control",@style = "width:200px" })
        </b>
        <b><font color="red">     @Html.ValidationMessageFor(model => model.personal_pay_allowance)</font></b>
        <div class="validation"></div>
    </div>
</div>
</div>


    <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="form-group">
            <label>Current Pay</label>
            <b>
                @Html.TextBoxFor(model => model.personal_pay_allowance, new { @id = "TId", @class = "form-control",@style = "width:200px" })
        </b>
        <b><font color="red">     @Html.ValidationMessageFor(model => model.personal_pay_allowance)</font></b>
        <div class="validation"></div>
    </div>
</div>
</div>

    <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="form-group">
            <label>Grade Pay</label>
            <b>
                @Html.TextBoxFor(model => model.personal_pay_allowance, new { @id = "TId", @class = "form-control",@style = "width:200px" })
        </b>
        <b><font color="red">     @Html.ValidationMessageFor(model => model.personal_pay_allowance)</font></b>
        <div class="validation"></div>
    </div>
</div>
</div>

    <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="form-group">
            <label>Next Increment Date</label>
            <b>
                @Html.TextBoxFor(model => model.personal_pay_allowance, new { @id = "TId", @class = "form-control",@style = "width:200px" })
        </b>
        <b><font color="red">     @Html.ValidationMessageFor(model => model.personal_pay_allowance)</font></b>
        <div class="validation"></div>
    </div>
</div>
</div>

</div>

<input type="submit" value="Save" class="btn btn-skin btn-block btn-lg" onclick="window.alert('Are you sure ?');"
       style="width: 150px" href="#pop1" data-rel="popup" id="save" data-inline="true">
</form>
            }
        </div>
    </div>
</div>




@if (ViewData["Message"] != null)
{
    <script language="javascript">
        alert('@ViewData["Message"]');
    </script>
}

@*@if (TempData["Mes"] != null)
{
    <script language="javascript">
        alert('@TempData["Mes"]');
    </script>
}*@
